#academies.grid
  .row
    %h2 Academies

  .main
    .row
      - academies_by_state.each do |us_state, list|
        .us_state{:class => us_state.downcase}
          %h4= us_state.upcase
          - list.each do |academy|
            %p= academy.name
  .sidebar
    = link_to t('add_academy_link'), new_academy_path