#academies.grid
  .row.header
    %h2
      Academies
      = link_to t('add_academy_link'), new_academy_path

  .main
    .row
      = render :partial => 'state', :collection => academies_by_state.to_a

  .sidebar
    Jump to state:
    %ul
      - academies_by_state.keys.each do |state|
        %li= link_to full_us_state_name(state), "##{state}"
