--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.stripe.com/v1/charges
    body: 
      encoding: US-ASCII
      string: amount=1000&currency=usd&card=tok_c26f9dU6RVl8f1&description=alice%40example.com%20--%202012-06-10%2018%3A51%3A56
    headers: 
      Authorization: 
      - Bearer CA4fzDjIleIw9mM7gSZfCoYVgswuE2eA
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 402
      message: ...
    headers: 
      Content-Type: 
      - application/json;charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        {
          "error": {
            "charge": "ch_WUPKPt02QZlOLR",
            "code": "card_declined",
            "message": "Your card was declined.",
            "type": "card_error"
          }
        }

  recorded_at: Mon, 11 Jun 2012 01:51:57 GMT
recorded_with: VCR 2.1.1
