--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.stripe.com/v1/charges
    body: 
      encoding: US-ASCII
      string: amount=1000&currency=usd&card=tok_yrkNU9PEHJWNJZ&description=alice%40example.com%20--%202012-06-08%2009%3A25%3A21
    headers: 
      Authorization: 
      - Bearer CA4fzDjIleIw9mM7gSZfCoYVgswuE2eA
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: ...
    headers: 
      Content-Type: 
      - application/json;charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        {
          "amount": 1000,
          "created": 1339172721,
          "currency": "usd",
          "description": "alice@example.com -- 2012-06-08 09:25:21",
          "disputed": false,
          "fee": 0,
          "id": "ch_z2QllHZClgQA9r",
          "livemode": false,
          "object": "charge",
          "paid": true,
          "refunded": false,
          "card": {
            "country": "US",
            "cvc_check": "pass",
            "exp_month": 6,
            "exp_year": 2013,
            "fingerprint": "gDoFIK6m5B6tCyhg",
            "last4": "4242",
            "object": "card",
            "type": "Visa"
          },
          "fee_details": [
            {
              "type": "stripe_fee",
              "application": null,
              "currency": "usd",
              "amount": 0
            }
          ]
        }

  recorded_at: Fri, 08 Jun 2012 16:25:22 GMT
recorded_with: VCR 2.1.1
