#videos.grid
  .row
    %h2 Videos

  .main
    .row
      %ul
        = render videos

  .sidebar
    Tags go here later

:javascript
  $(document).ready(function(){
  	$("a[rel^='popupVideo']").prettyPhoto( {
  	  show_title: false,
  	  theme: 'dark_square',
  	  social_tools: false
    });
  });