#videos.grid
  = standard_header

  .main
    .row
      - if flash[:notice]
        .notice= flash[:notice]
      %ul
        = render videos

  .sidebar
    = link_to t('.add_video'), new_video_path, :class => 'btn'