#admin.grid
  = standard_header

  .main
    .row
      %p #{pluralize(academies.size, 'academy')} awaiting moderation.
      %ul.academies
        = render academies
  .sidebar
    %p= link_to t('admin.home_link'), admin_path

