--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.stripe.com/v1/charges
    body: 
      encoding: US-ASCII
      string: amount=1000&currency=usd&card=tok_d4fHy7KOnTmZbF&description=alice%40example.com%20--%202012-06-16%2021%3A22%3A36
    headers: 
      Authorization: 
      - Bearer CA4fzDjIleIw9mM7gSZfCoYVgswuE2eA
      Content-Type: 
      - application/x-www-form-urlencoded
  response: 
    status: 
      code: 200
      message: ...
    headers: 
      Content-Type: 
      - application/json;charset=utf-8
    body: 
      encoding: US-ASCII
      string: |
        {
          "amount": 1000,
          "created": 1339906956,
          "currency": "usd",
          "description": "alice@example.com -- 2012-06-16 21:22:36",
          "disputed": false,
          "fee": 59,
          "id": "ch_V2w8J1f8rbi6x4",
          "livemode": false,
          "object": "charge",
          "paid": true,
          "refunded": false,
          "card": {
            "address_line1": "1313 Mockingbird Lane",
            "address_line1_check": "pass",
            "address_line2": "42",
            "address_state": "NY",
            "address_zip": "12345",
            "address_zip_check": "pass",
            "country": "US",
            "cvc_check": "pass",
            "exp_month": 1,
            "exp_year": 2020,
            "fingerprint": "gDoFIK6m5B6tCyhg",
            "last4": "4242",
            "name": "Alice Kramden",
            "object": "card",
            "type": "Visa"
          },
          "fee_details": [
            {
              "type": "stripe_fee",
              "currency": "usd",
              "application": null,
              "amount": 59
            }
          ]
        }

  recorded_at: Sun, 17 Jun 2012 04:22:37 GMT
recorded_with: VCR 2.1.1
