#contribute
  %h3= t 'landing_page.contribute.header'
  %p
    Have you got some good ideas for a BJJ site?
    Let me know, and I'll build the best suggested features.
    %br/
    Contact me: mattvanhorn@gmail.com