%h1 Thank you!

%h2 Your purchase is confirmed

%h3 Purchase Summary

= render :partial => 'order_mailer/order_item', :object => @order.item

%p Total: #{@order.amount}

%p
  You can access the details at:
  = link_to(order_url(@order), order_url(@order))

%p redemption instructions


