Thank you!

Your purchase is confirmed

Purchase Summary

= render :partial => 'order_mailer/order_item', :object => @order.item

Total: #{@order.amount}

You can access the details at:

redemption instructions


