.us_state h4 {
  margin-top: 0;
}

ul.academies {
  border: 1px solid #333;
  padding: 20px 10px 0;
  margin-bottom: 20px;
  li {
    margin-bottom: 20px;
    padding: 10px;
    line-height: 1.4em;
  }
  .contact {
    margin-top: 10px;
  }
}

.header {
  a {
    @include button(shiny, #00A859);
    margin-right: grid-width(2) + $gw-gutter;
    float:right;
  }
}

@import 'simple_form';
@import 'academies';