$mat-blue: #5973F5;
$brazil-yellow: #FFCC29;
$brazil-green: #00A859;
$brazil-blue: #3E4095;

$default-bg: #1F1111;
$default-fg: $brazil-yellow;

$error-red: #ff3333;

html > body {
  background-color: $default-bg;
  color: $default-fg;
}
