#orders_new {
  #cc_exp_month_wrapper {
    float: left;
  }
  #cc_exp_year_wrapper label{
    display: none;
  }
  #card_number_wrapper {
    float: left;
  }
  #card_code_wrapper label {
    width: 35px;
  }
}