@import 'colors';
@import 'mixins';

#videos {
  margin: 0;
  padding: 0;
}
#videos li {
  list-style-type: none;
  margin: 10px 5px;
  background: $mat-blue;
  height: 90px;
  padding: 5px;
  width: 320px;
  float: left;
  img {
    float: left;
    overflow: hidden;
  }
  .video-name {
    margin: 0 0 0 5px;
    float: left;
    width: 195px;
  }
}


