#videos .main ul {
  margin: 0;
  margin-left: -20px;
  padding: 0;

  li {
    width: grid-width(2) - 10px;
    height: 130px;
    margin: 0 0 10px $gw-gutter;
    padding: 5px;
    list-style-type: none;
    float: left;
    text-align: center;
  }
}

@import "videos";
@import 'prettyPhoto';