---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=780%208th%20Ave,%20New%20York,%20NY,%2010036,%20&language=en&sensor=false

    body:
      encoding: US-ASCII
      string: ""
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "780",
                       "short_name" : "780",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "8th Ave",
                       "short_name" : "8th Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Theater District - Times Square",
                       "short_name" : "Theater District - Times Square",
                       "types" : [ "neighborhood", "political" ]
                    },
              [...]
