--- 
http_interactions: 
- request: 
    method: get
    uri: http://freegeoip.net/json/173.247.202.228
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
      Etag: 
      - "\"e77a510f58c94df72dfd3a59ae56478d4825df94\""
    body: 
      encoding: US-ASCII
      string: "{\"city\": \"San Francisco\", \"region_code\": \"CA\", \"region_name\": \"California\", \"metrocode\": \"807\", \"zipcode\": \"94111\", \"longitude\": \"-122.398\", \"latitude\": \"37.7989\", \"country_code\": \"US\", \"ip\": \"173.247.202.228\", \"country_name\": \"United States\"}"
  recorded_at: Tue, 26 Jun 2012 18:54:19 GMT
recorded_with: VCR 2.1.1
