---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=94133&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"94133\",\n               \"short_name\"
        : \"94133\",\n               \"types\" : [ \"postal_code\" ]\n            },\n
        \           {\n               \"long_name\" : \"San Francisco\",\n               \"short_name\"
        : \"SF\",\n               \"types\" : [ \"locality\", \"political\" ]\n            },\n
        \           {\n               \"long_name\" : \"San Francisco\",\n               \"short_name\"
        : \"San Francisco\",\n               \"types\" : [ \"administrative_area_level_2\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"California\",\n               \"short_name\" : \"CA\",\n               \"types\"
        : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"United States\",\n               \"short_name\"
        : \"US\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n
        \        ],\n         \"formatted_address\" : \"San Francisco, CA 94133, USA\",\n
        \        \"geometry\" : {\n            \"bounds\" : {\n               \"northeast\"
        : {\n                  \"lat\" : 37.8632030,\n                  \"lng\" :
        -122.3924990\n               },\n               \"southwest\" : {\n                  \"lat\"
        : 37.7937690,\n                  \"lng\" : -122.4253820\n               }\n
        \           },\n            \"location\" : {\n               \"lat\" : 37.80598870,\n
        \              \"lng\" : -122.40991540\n            },\n            \"location_type\"
        : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
        : {\n                  \"lat\" : 37.8632030,\n                  \"lng\" :
        -122.3924990\n               },\n               \"southwest\" : {\n                  \"lat\"
        : 37.7937690,\n                  \"lng\" : -122.4253820\n               }\n
        \           }\n         },\n         \"types\" : [ \"postal_code\" ]\n      }\n
        \  ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Fri, 29 Jun 2012 00:18:11 GMT
recorded_with: VCR 2.1.1
