---
http_interactions:
- request:
    method: get
    uri: http://freegeoip.net/json/173.247.202.228
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"ip":"173.247.202.228","country_code":"US","country_name":"United
        States","region_code":"CA","region_name":"California","city":"San Francisco","zipcode":"","latitude":37.7749,"longitude":-122.4194,"metro_code":"807","areacode":"415"}'
  recorded_at: Mon, 20 May 2013 20:41:06 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=San%20Francisco,%20CA,%20US&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"San Francisco\",\n               \"short_name\"
        : \"SF\",\n               \"types\" : [ \"locality\", \"political\" ]\n            },\n
        \           {\n               \"long_name\" : \"San Francisco\",\n               \"short_name\"
        : \"San Francisco\",\n               \"types\" : [ \"administrative_area_level_2\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"California\",\n               \"short_name\" : \"CA\",\n               \"types\"
        : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"United States\",\n               \"short_name\"
        : \"US\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n
        \        ],\n         \"formatted_address\" : \"San Francisco, CA, USA\",\n
        \        \"geometry\" : {\n            \"bounds\" : {\n               \"northeast\"
        : {\n                  \"lat\" : 37.92977070,\n                  \"lng\" :
        -122.32791490\n               },\n               \"southwest\" : {\n                  \"lat\"
        : 37.69333540,\n                  \"lng\" : -123.10777330\n               }\n
        \           },\n            \"location\" : {\n               \"lat\" : 37.77492950,\n
        \              \"lng\" : -122.41941550\n            },\n            \"location_type\"
        : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\"
        : {\n                  \"lat\" : 37.8120,\n                  \"lng\" : -122.34820\n
        \              },\n               \"southwest\" : {\n                  \"lat\"
        : 37.70339999999999,\n                  \"lng\" : -122.5270\n               }\n
        \           }\n         },\n         \"postcode_localities\" : [],\n         \"types\"
        : [ \"locality\", \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Mon, 20 May 2013 20:41:07 GMT
recorded_with: VCR 2.4.0
