---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=1000&currency=usd&card=tok_wfyH5Rh876aNwU&description=alice%40example.com%20--%202012-06-26%2013%3A55%3A43
    headers:
      Authorization:
      - Bearer CA4fzDjIleIw9mM7gSZfCoYVgswuE2eA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ...
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: |
        {
          "amount": 1000,
          "created": 1340744144,
          "currency": "usd",
          "description": "alice@example.com -- 2012-06-26 13:55:43",
          "disputed": false,
          "fee": 59,
          "id": "ch_eWmauHIzCSGXPS",
          "livemode": false,
          "object": "charge",
          "paid": true,
          "refunded": false,
          "card": {
            "address_line1": "1313 Mockingbird Lane",
            "address_line1_check": "pass",
            "address_line2": "42",
            "address_state": "NY",
            "address_zip": "12345",
            "address_zip_check": "pass",
            "country": "US",
            "cvc_check": "pass",
            "exp_month": 1,
            "exp_year": 2020,
            "fingerprint": "gDoFIK6m5B6tCyhg",
            "last4": "4242",
            "name": "Alice Kramden",
            "object": "card",
            "type": "Visa"
          },
          "fee_details": [
            {
              "type": "stripe_fee",
              "application": null,
              "currency": "usd",
              "description": "Stripe processing fees",
              "amount": 59
            }
          ]
        }

  recorded_at: Tue, 26 Jun 2012 20:55:44 GMT
recorded_with: VCR 2.1.1
