#admin.grid
  = standard_header

  .main
    .row
      %table#videos
        %thead
          %tr
            %th Name
            %th URL
            %th
          = render Video.all
  .sidebar
    %p= link_to t('admin.home_link'), admin_path
    %p= link_to "Add Video", new_admin_video_path
