--- 
http_interactions: 
- request: 
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=350%205th%20Avenue,%20New%20York,%20NY,%2010001&language=en&sensor=false
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=UTF-8
    body: 
      encoding: US-ASCII
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "350",
                       "short_name" : "350",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "5th Ave",
                       "short_name" : "5th Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Korea Town",
                       "short_name" : "Korea Town",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name"[...]
